@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

.flex {
	display: flex;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	justify-content: space-between;
	align-items: center;
	position: fixed;
	background-color: white;
	width: 100%;
}

header .logo {
	width: 150px;
}

.navbar {
	width: 30%;
	margin-right: 50px;
}

.navbar ul {
	list-style: none;
	justify-content: space-between;
}

a {
	color: black;
}

.header2 {
	padding-top: 100px;
}

form {
	flex-direction: column;
	align-items: center;
}

form input {
	padding: 10px 9px;
	border-radius: 5px;
	margin-top: 20px;
}

form button {
	width: 40%;
	margin-top: 25px;
	padding: 10px 0;
	background-color: #DEDEDE;
	border-radius: 5px;
}

main {
	width: 70vw;
}

.features {
	margin-bottom: 50px;
}

.youtube {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.plans {
	justify-content: space-between;
	margin-right: 0;
	margin-bottom: 50px;
	height: 100%;
}

.plan {
	border: 1px solid black;
	text-align: center;
	width: 32%;
	height: 100%;
	padding-bottom: 30px;
	border-radius: 5px;
}

.plan-name {
	background-color: lightgray;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
}

.plan h3 {
	margin: 15px 0;
}

.plan p {
	line-height: 30px;
}

.plan button {
	margin-top: 20px;
	width: 40%;
	padding: 5px 20px;
	font-size: 17px;
}

footer {
	display: flex;
	flex-direction: column;
	background-color: #DEDEDE;
	width: 70vw;
	align-items: flex-end;
	padding-right: 20px;
}

footer ul {
	list-style: none;
	display: flex;
	align-items: space-between;
	justify-content: space-between;
}

footer li {
	margin-left: 20px;
}
 










